@media only screen and (min-width: 1024px) and (max-width: 1200px) {

    .container {
        max-width: 1000px;
    }
    .vce-main-content {
        width: 700px;
    }
    .vce-featured {
        max-height: 400px;
        min-height: 400px;
    }
    .main-navigation ul ul {
        display: none;
    }
    .main-navigation ul li:hover ul {
        display: block;
    }
    .top-header {
        overflow: hidden;
    }
    .header-sticky .main-navigation a {
        padding: 15px 10px;
    }
    .main-navigation a {
        padding: 15px 9px 15px;
    }
    .search-header-wrap a {
        padding: 15px;
    }
    /*LAYOUTS	*/
    .vce-lay-a .entry-content {
        width: 540px;
    }
    .vce-lay-a .entry-title {
        max-width: 540px;
    }

    .vce-lay-b {
        width: 100%;
    }
    .vce-sid-right .vce-lay-b .meta-image,
    .vce-sid-left .vce-lay-b .meta-image {
        min-height: initial;
        width: 300px;
        min-width: initial;
    }
    .vce-lay-b {
        min-height: 155px;
    }
    .vce-lay-b img {
        max-height: initial;
        width: 100%;
    }
    body .vce-lay-b .entry-title {
        line-height: 28px;
        font-size: 22px;
    }

    .vce-sid-none .vce-lay-b {
        width: 470px;
    }
    .vce-sid-none .vce-lay-c,
    .vce-sid-none .vce-lay-d,
    .vce-sid-none .vce-lay-f {
        width: 306px;
    }

    .vce-lay-h,
    .vce-sid-none .vce-lay-h {
        width: 305px;
    }
    .vce-lay-h .img-wrap {
        height: 220px;
    }
    .vce-sid-none .vce-lay-h .img-wrap {
        height: 220px
    }
    body .main-box-inside .vce-lay-h .entry-title {
        font-size: 18px;
        line-height: 1.4em;
    }

    .vce-lay-c {
        width: 305px;
    }
    .vce-prev-link,
    .vce-next-link {
        width: 304px;
    }

    .vce-lay-d {
        width: 305px;
        min-height: 76px;
    }
    .vce-lay-d img {
        max-width: 120px;
        min-height: initial;
    }
    .vce-lay-d .entry-header {
        padding: 0;
    }
    body .vce-lay-d .entry-title {
        font-size: 13px;
        line-height: 17px;
    }
    body .vce-lay-d .meta-category a,
    body .vce-lay-d .entry-meta div,
    body .vce-lay-d .entry-meta div a {
        font-size: 12px;
        line-height: 16px;
    }

    .vce-sid-left .vce-lay-e,
    .vce-sid-right .vce-lay-e {
        max-width: 110px;
        min-height: initial;
        max-height: initial;
    }
    body .vce-lay-e .entry-title {
        font-size: 13px;
        line-height: 18px;
        padding: 5px 5px 10px;
    }

    .vce-lay-f {
        width: 305px;
    }

    .vce-module-columns .main-box-half {
        width: 325px;
    }
    .vce-sid-none .vce-module-columns .main-box-half {
        width: 32%;
    }
    .vce-sid-none .vce-module-columns .main-box-half {
        margin-right: 2%;
    }
    .vce-sid-none .main-box-half:nth-child(3n) {
        margin-right: 0;
    }

    .vce-slider-pagination .vce-lay-a,
    .vce-slider-pagination .vce-lay-b {
        width: 100%;
    }

    .vce-sid-right .vce-slider-pagination .vce-lay-c,
    .vce-sid-left .vce-slider-pagination .vce-lay-c,
    .vce-sid-right .vce-slider-pagination .vce-lay-d,
    .vce-sid-left .vce-slider-pagination .vce-lay-d {
        width: 301px
    }
    .vce-sid-left .vce-slider-pagination .vce-lay-e,
    .vce-sid-right .vce-slider-pagination .vce-lay-e {
        width: 138px;
    }

    .vce-sid-left .vce-slider-pagination .vce-lay-g,
    .vce-sid-right .vce-slider-pagination .vce-lay-g {
        width: 630px;
    }

    .nav-menu .vce-mega-menu-wrapper>li .mega-menu-img {
        height: 90px;
    }
    .nav-menu .vce-mega-menu-wrapper {
        min-height: 230px;
    }
    .header-2-wrapper .site-branding,
    .header-3-wrapper .site-branding {
        max-width: 300px;
    }
    .vce-wrap-center .top-nav-menu li {
        margin: 0 5px 0 0;
    }
    .container-fix {
        margin: 0 -5px;
    }
    [class*='bit-'] {
        padding: 10px;
    }
    /*TYPOGRAPHY*/
    h1.entry-title {
        width: 540px;
    }
    .entry-title {
        display: block;
    }
    .vce-slider-pagination .vce-lay-a .meta-image {
        max-height: 450px;
    }
    .main-box .vce-link-pages a {
        margin: 0 20px;
    }
    .vce-single .entry-content,
    .vce-single .entry-footer,
    .vce-single .entry-headline,
    .vce-page .entry-content,
    .error404 .entry-content,
    .vce-page .entry-content {
        max-width: 630px;
    }
    .vce-lay-b .entry-content {
        margin-left: 0;
    }
    .vce-sid-none .vce-page .entry-content,
    .vce-sid-none .vce-page .entry-title-page,
    .error404 .entry-content {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .main-navigation li {
        pointer-events: auto;
    }
    .site-footer .vce-post-list .vce-posts-wrap {
        width: 55% !important;
    }
}

@media only screen and (max-width: 1200px) {
    body .vce-featured-grid-big.vce-featured-grid .vce-featured-link-article{
        font-size: 24px;
        line-height: 30px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1088px) {
    .vce-grid-item {
        width: 341px;
    }
}


@media only screen and (min-width: 670px) and (max-width: 1023px) {

    .vce-featured {
        max-height: 300px;
        min-height: 300px;
    }
    .vce-featured-link-article {
        font-size: 36px;
        line-height: 46px;
    }

    .header-sticky .main-navigation a {
        padding: 15px 10px;
    }
    /*LAYOUTS	*/
    .vce-sid-right .vce-lay-b .meta-image,
    .vce-sid-left .vce-lay-b .meta-image {
        min-height: 165px;
        max-height: 195px;
        max-width: 383px;
        min-width: 100px;
    }
    .vce-lay-b {
        min-height: 165px;
    }
    .vce-lay-b img {
        max-height: 165px;
        width: auto;
    }

    .vce-sid-left .vce-lay-c,
    .vce-sid-right .vce-lay-c{
        width: 48.5%;
        margin: 0 3% 20px 0;
    }
        .vce-prev-link,
    .vce-next-link {
    	width: 48%;
    }
	.prev-next-nav > div:last-child{
		margin-right: 0;
	}
    .vce-sid-right article.vce-lay-c:nth-of-type(1n),
    .vce-sid-left article.vce-lay-c:nth-of-type(1n),
    .vce-sid-none article.vce-lay-c:nth-of-type(1n),
    .vce-sid-right article.vce-lay-e:nth-of-type(1n),
    .vce-sid-left article.vce-lay-e:nth-of-type(1n),
    .vce-sid-none article.vce-lay-e:nth-of-type(1n),
    .vce-sid-none article.vce-lay-h:nth-of-type(1n) {
        margin: 0 3% 20px 0;
    }
    .vce-sid-right article.vce-lay-c:nth-of-type(2n),
    .vce-sid-left article.vce-lay-c:nth-of-type(2n),
    .vce-sid-right article.vce-lay-d:nth-of-type(2n),
    .vce-sid-left article.vce-lay-d:nth-of-type(2n),
    .vce-sid-none article.vce-lay-c:nth-of-type(3n),
    .vce-sid-left article.vce-lay-e:nth-of-type(5n),
    .vce-sid-right article.vce-lay-e:nth-of-type(5n),
    .vce-sid-none article.vce-lay-e:nth-of-type(7n){
        margin: 0 0 20px 0;
    }
    .vce-sid-none article.vce-lay-d:nth-of-type(1n),
    .vce-sid-right article.vce-lay-d:nth-of-type(1n),
    .vce-sid-left article.vce-lay-d:nth-of-type(1n)
    .vce-sid-none article.vce-lay-d:nth-of-type(3n),
    .vce-sid-right article.vce-lay-d:nth-of-type(3n),
    .vce-sid-left article.vce-lay-d:nth-of-type(3n){
        margin: 0 3% 20px 0 !important;        
    }
    .vce-sid-none article.vce-lay-d:nth-of-type(2n),
    .vce-sid-right article.vce-lay-d:nth-of-type(2n),
    .vce-sid-left article.vce-lay-d:nth-of-type(2n){
        margin: 0 0 20px 0 !important;
    }


    .vce-sid-right .main-box-half .vce-post,
    .vce-sid-left .main-box-half .vce-post {
        width: 100%;
    }
    .vce-lay-c .meta-image {
        width: 100%;
        text-align: center;
        height: auto;
    }
    .vce-lay-c img {
        width: 100%;
        height: auto;
        max-height: initial;
    }

    .vce-sid-left .vce-lay-d,
    .vce-sid-right .vce-lay-d {
        width: 48.5%;
        min-height: 76px;
        margin: 0 3% 20px 0;
    }

    .vce-loop-wrap .vce-lay-d img {
        max-width: 100%;
        min-height: initial;
        width: 100%;
    }
    body .vce-lay-d .entry-title {
        font-size: 14px;
        line-height: 18px;
        max-width: 400px;
    }
    .vce-lay-d .meta-category{
    	margin-top: 8px;
    }
    .vce-loop-wrap .vce-lay-d .entry-header{
        padding: 5px 15px 8px;
        clear: both;
        width: 100%;
    }
    .vce-loop-wrap .vce-lay-d .meta-image{
        height: auto;
        width: 100%;
        margin: 0;
    }
    .vce-loop-wrap .vce-lay-d{
        padding: 0;
    }
    .vce-sid-none .vce-loop-wrap .vce-lay-d .meta-image,
    .vce-lay-d + .vce-loop-wrap .vce-lay-d .meta-image{
        margin-right: 15px;
        height: 100%;
        width: auto;
    }
    .vce-sid-none .vce-loop-wrap .vce-lay-d .meta-image img,
    .vce-lay-d + .vce-loop-wrap .vce-lay-d .meta-image img{
        max-width: 135px;
    }
    .vce-sid-none .vce-loop-wrap .vce-lay-d .entry-header,
    .vce-lay-d + .vce-loop-wrap .vce-lay-d .entry-header{
        clear: none;
        width: auto;
    }

    .vce-sid-left .vce-lay-e,
    .vce-sid-right .vce-lay-e {
        width: 17.4%;
    }
    .vce-sid-left .vce-lay-e img,
    .vce-sid-right .vce-lay-e img {
        width: 100%;
    }
    .vce-sid-none .vce-lay-e {
        width: 17.2%;
    }

    .vce-lay-f{
        width: 48.5%;
    }
    .vce-module-columns .main-box-half {
        width: 48.5%;
    }
    .vce-sid-left .vce-module-columns .main-box-half:nth-child(2n),
    .vce-sid-right .vce-module-columns .main-box-half:nth-child(2n) {
        margin-left: 3%;
    }

    .vce-sid-none .vce-lay-c,
    .vce-sid-none .vce-lay-d,
    .vce-sid-none .vce-lay-f {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .vce-sid-none .vce-module-columns .main-box-half {
        width: 100%;
    }

    .nav-menu .vce-mega-menu-wrapper>li .mega-menu-img {
        height: 90px;
    }
    .nav-menu .vce-mega-menu-wrapper {
        min-height: 230px;
    }
    .vce-header-ads {
        margin: 0 auto;
        float: left;
        display: block;
        clear: both;
        width: 100%;
    }
    .header-2-wrapper .site-branding,
    .header-3-wrapper .site-branding {
        max-width: 300px;
    }
    .header-3-wrapper .nav-menu>li>a {
        padding: 0 15px;
    }
    .vce-wrap-center .top-nav-menu li {
        margin: 0 5px 0 0;
    }
    .container-fix {
        margin: 0 -10px;
    }
    [class*='bit-'] {
        padding: 10px;
    }


    .vce-grid-item {
        width: 100%;
    }
    .vce-grid-text .vce-featured-info {
        margin-top: 20%;
    }
    .vce-featured-grid .owl-item img {
        min-height: initial;
    }

    .vce-lay-h {
        float: none;
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;
    }
    /*TYPOGRAPHY*/
    h1.entry-title {
        width: 540px;
    }
    .entry-title {
        display: block;
    }
    body .vce-featured-grid .vce-featured-link-article {
        font-size: 18px;
        line-height: 22px;
    }
    .vce-featured-grid .vce-featured-title {
        padding: 0 30px;
    }

    .vce-lay-c .entry-title {
        padding: 0 40px;
    }

    .vce-sid-right .vce-slider-pagination .vce-lay-c,
    .vce-sid-left .vce-slider-pagination .vce-lay-c,
    .vce-slider-pagination .vce-lay-a {
        width: 100%;
        margin: 0 0 20px;
    }
    .vce-sid-left .vce-slider-pagination .vce-lay-g,
    .vce-sid-right .vce-slider-pagination .vce-lay-g {
        width: auto;
    }
    .vce-sid-right .vce-slider-pagination .vce-lay-d,
    .vce-sid-left .vce-slider-pagination .vce-lay-d {
        width: 100%;
    }
    .vce-gallery-big {
        height: 200px;
    }
    .vce-post-slider .vce-posts-wrap{
    	padding: 0px 40px;
    }
	.vce-post-link {
	    font-size: 18px;
	    line-height: 24px;
	}
    .vce-loop-wrap .vce-lay-d,
    .main-box-half .vce-lay-d{
        width: 48.5% !important;
    }

  .vce-sid-none .main-box-half .main-box-inside > .vce-lay-c{
        width: 100%;
        float: left;
        min-height: 130px;
        margin: 0 20px 20px 0;
        padding: 0 20px 0 0;
    }
    .vce-sid-none .main-box-half .main-box-inside > .vce-lay-c .meta-image {
        width: 250px;
        min-width: 250px;
        margin-right: 15px;
        float: left;
        height: 100%;
        margin-bottom: 0;
        max-height: 155px;
    }
    .vce-sid-none .main-box-half .main-box-inside > .vce-lay-c .meta-image img{
        height: 100%;
        object-fit: cover;
    }
    .vce-sid-none .main-box-half .main-box-inside > .vce-lay-c .entry-header{
        padding: 10px 0 0 265px;
        margin: 0 0 5px;
    }
    .vce-sid-none .main-box-half .main-box-inside > .vce-lay-c .meta-category,
    .vce-sid-none .main-box-half .main-box-inside > .vce-lay-c .entry-meta,
    .vce-sid-none .main-box-half .main-box-inside > .vce-lay-c .entry-content{
        text-align: left;
    }
    .vce-sid-none .main-box-half .main-box-inside > .vce-lay-c .entry-title{
        padding: 0;
        text-align: left;
    }
    .vce-sid-none .main-box-half .main-box-inside > .vce-lay-c .entry-content{
        padding-left: 265px;
    }
    .vce-grid-text .vce-featured-info {
        margin-top: 15%;
    }
}



@media only screen and (max-width: 1023px) {

    .container {
        max-width: 90%;
    }
    .vce-main-content {
        width: 100%;
        padding: 15px 0 !important;
    }
    .main-navigation ul ul {
        display: none;
    }

    .vce-res-nav {
        float: left;
        position: absolute;
        left: 0;
    }

    .vce-lay-b,
    .vce-sid-none .vce-lay-b {
        width: 100%;
    }
    body .vce-lay-e .entry-title {
        font-size: 13px;
        line-height: 18px;
        padding: 10px;
    }

    .header-1-wrapper,
    .header-2-wrapper,
    .header-3-wrapper {
        height: 50px !important;
        padding-top: 0 !important;
        text-align: center;
    }
    .header-2-wrapper .site-branding,
    .header-3-wrapper .site-branding {
        position: relative;
        float: none;
        top: 0 !important;
        left: initial !important;
        text-align: center;
        max-width: initial;
        padding: 3px 0 7px;
    }
    .site-branding {
        padding: 4px 0 7px;
        display: inline-block;
    }
    .site-branding img {
        max-width: 120px;
        max-height: 28px;
    }
    .header-sticky .site-title {
        float: none;
        display: inline-block;
        padding: 0;
    }
    .header-sticky .vce-responsive-nav {
        position: absolute;
        left: 0;
    }
    .header-sticky {
        text-align: center;
    }
    .main-header .header-2-wrapper .site-title,
    .main-header .header-3-wrapper .site-title,
    .main-header .header-3-wrapper .site-title a.has-logo,
    .main-header .header-2-wrapper .site-title a.has-logo {
        line-height: 40px !important;
        font-size: 26px !important;
    }

    .nav-menu .vce-mega-menu>.sub-menu>li {
        display: block;
        padding: 0;
        text-align: left;
    }
    .nav-menu .vce-mega-menu .sub-menu a {
        padding: 10px 10px 10px 20px;
    }
    .nav-menu .vce-mega-menu .sub-menu .sub-menu li,
    .nav-menu .vce-mega-menu .sub-menu .sub-menu {
        padding: 0;
    }

    .sidebar {
        margin: 0 auto 20px;
        float: none !important;
        display: block;
        clear: both;
        padding-top: 0 !important;
        width: 100%;
        max-width: 300px;
    }
    h1.entry-title {
        max-width: 100%;
    }
    /*Navigation*/
    .vce-responsive-nav {
        display: block;
        margin: 10px 0 9px;
    }
    .nav-menu,
    .mm-list li a.search_header,
    .top-header,
    .site-description,
    .nav-menu .vce-mega-menu-wrapper {
        display: none;
    }

    .main-header .site-title,
    .main-header .site-title a {
        line-height: 36px !important;
        font-size: 40px !important;
    }
    .main-header .header-1-wrapper .site-title {
        line-height: 36px !important;
    }
    .main-header .header-2-wrapper .site-title a {
        line-height: 45px !important;
    }
    .admin-bar .header-sticky {
        top: 0;
    }
    .meta-image:hover a img,
    .img-wrp:hover img,
    .vce-gallery-big:hover img,
    .gallery-item:hover img,
    .vce_posts_widget .vce-post-big li:hover img,
    .vce-featured-grid .owl-item:hover img,
    .vce-post-img:hover img,
    .mega-menu-img:hover img {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .comment-list .comment-content {
        width: 100%;
        margin: 0 0 20px 20px;
    }
    footer.comment-meta {
        margin-bottom: 20px;
    }
    .comment-reply-link {
        margin: 0 0 0 10px;
    }
    li>ul,
    li>ol {
        margin: 0;
    }
    .vce-sid-left .vce-slider-pagination .vce-lay-e,
    .vce-sid-right .vce-slider-pagination .vce-lay-e {
        width: 100%;
    }

    .vce-slider-a .owl-item,
    .vce-slider-b .owl-item {
        padding: 0 2px;
    }

    .vce-lay-b {
        width: 100%;
    }
    .vce-sid-right .vce-lay-b .meta-image,
    .vce-sid-left .vce-lay-b .meta-image {
        min-height: initial;
        width: 300px;
        min-width: initial;
    }
    .vce-lay-b {
        min-height: 155px;
    }
    .vce-lay-b img {
        max-height: initial;
        width: 100%;
        object-fit: cover;
    }
    body .vce-lay-b .entry-title {
        line-height: 28px;
        font-size: 22px;
    }
    .site-footer .widget{
    	margin-bottom: 20px;
    }
    .site-footer [class*='bit-'] {
	    max-width: 360px;
        width: 100%;
	    clear: both;
	    margin: 0 auto;
	    float: none;
	    padding: 0;
    }
    .site-footer [class*='bit-']:first-child .widget {
        margin-top: 20px;
    }
    .vce-featured-grid .owl-item img {
        min-height: initial;
    }
    .vce-share-items {
        width: 100%;
        min-width: initial;
        display: inline;
    }

    .vce-lay-b .entry-content {
        margin-left: 0;
    }
    .vce-sid-none .vce-page .entry-content,
    .vce-sid-none .vce-page .entry-title-page,
    .error404 .entry-content {
        width: 100% !important;
        padding: 30px;
    }
    .vce-sid-none .vce-single .entry-content,
    .vce-sid-none .vce-single .entry-headline,
    .vce-sid-none .vce-single .entry-footer,
    .vce-sid-none .vce-page .entry-content,
    .vce-sid-none .vce-page .entry-title-page,
    .error404 .entry-content {
        width: 100% !important;
        padding: 0 20px;
        margin: 20px auto 20px;
    }
    #vce-pagination .prev.page-numbers,
    #vce-pagination .next.page-numbers {
        top: 11px;
    }
    #vce-pagination .prev.page-numbers {
        left: 5px;
    }
    #vce-pagination .next.page-numbers {
        right: 5px;
    }
    #vce-pagination .page-numbers {
        display: none;
    }
    .vce-single .entry-content,
    .vce-single .entry-footer,
    .vce-single .entry-headline,
    .vce-page .entry-content,
    .error404 .entry-content,
    .vce-page .entry-content {
        max-width: 630px;
    }
    .vce-featured-grid .owl-prev,
    .vce-featured-grid .owl-next,
    .vce-post-slider .owl-prev,
    .vce-post-slider .owl-next {
        width: 30px;
        height: 60px;
        top: 50%;
        margin-top: -30px;
    }
    #vce-featured-grid .owl-controls .owl-prev,
    #vce-featured-grid .owl-controls .owl-next,
    .vce-post-slider .owl-controls .owl-prev,
    .vce-post-slider .owl-controls .owl-next {
        opacity: 0.4;
        filter: alpha(opacity=40);
    }
    #vce-featured-grid .owl-controls .owl-prev:active,
    #vce-featured-grid .owl-controls .owl-next:active,
    #vce-featured-grid .owl-controls .owl-prev:hover,
    #vce-featured-grid .owl-controls .owl-next:hover,
    .vce-post-slider .owl-controls .owl-prev:hover,
    .vce-post-slider .owl-controls .owl-next:hover,
    .vce-post-slider .owl-controls .owl-prev:active,
    .vce-post-slider .owl-controls .owl-next:active {
        opacity: .8;
    }
    .vce-featured-grid i.fa-angle-right,
    .vce-post-slider i.fa-angle-right {
        right: 5px;
    }
    .vce-featured-grid i.fa-angle-left,
    .vce-post-slider i.fa-angle-left {
        left: 5px;
    }
    .vce-lay-h {
        float: none;
        display: inline-block;
        vertical-align: top;
        margin-left: 0;
        width: 48%;
    }

    body .vce-lay-h .entry-title {
        font-size: 20px;
        line-height: 1.4em;
    }
    .vce-loop-wrap {
        word-spacing: -1px;
    }
    .vce-sid-none .vce-lay-h {
        width: 31%;
    }
    .vce-sid-none article.vce-lay-h:nth-of-type(3n) {
        margin: 0 3% 3% 0;
    }

    .vce-sid-right article.vce-lay-h:nth-of-type(1n),
    .vce-sid-left article.vce-lay-h:nth-of-type(1n) {
        margin: 0 3% 20px 0 !important;
    }
    .vce-sid-left article.vce-lay-h:nth-of-type(2n),
    .vce-sid-right article.vce-lay-h:nth-of-type(2n) {
        margin: 0 0 3% 0 !important;
    }
    .vce-sid-none .main-box-half article.vce-lay-h:nth-of-type(1n) {
        margin: 0 3% 20px 0 !important;
    }
    .vce-sid-none .main-box-half article.vce-lay-h:nth-of-type(2n) {
        margin: 0 0 20px !important;
    }

    .vce-sid-none .main-box-half .vce-lay-h {
        max-width: 48%;
        margin-bottom: 20px !important;
    }
    .vce-slider-pagination .vce-lay-h,
    .vce-sid-none .vce-slider-pagination .vce-lay-h {
        width: 100%;
    }
    .vce-lay-a img,
    .vce-lay-b img,
    .vce-lay-c img,
    .vce-lay-d img,
    .vce-lay-e img,
    .vce-lay-f img,
    .vce-lay-g img,
    .vce-lay-h img {
        object-fit: cover;
    }
    .error404 .entry-content,
    .vce-sid-none .vce-page .entry-content,
    .vce-sid-none .vce-page .entry-title-page,
    .vce-page .entry-content,
    .vce-page .entry-title-page {
        padding-left: 20px;
        padding-right: 20px;
    }
	.vce-lay-e .meta-image{
		max-height: 90px;
	}
	.vce-sid-left .vce-lay-e img, .vce-sid-right .vce-lay-e img{
		max-height: 90px;
		object-fit: cover;
	}

	.vce-blank-module p{
		margin-bottom: 20px;
	}

    .vce-post-list .vce-post-link{
        padding-right: 0;
    }

    .vce-lay-d .meta-image{
        height: auto;
    }

    .vce-sid-none .vce-slider-pagination .vce-lay-d,
    .vce-slider-pagination  .vce-lay-c{
        width: 100% !important; 
    }

    #mc_embed_signup{
        max-width: 100%;
    }

    .vce-header-ads{
        position: relative;
        margin: 20px auto !important;
    }

    .vce-lay-c .meta-category a{
        line-height: 1;
    }
    
    .sidr-class-fa-shopping-cart{
        font-family: FontAwesome;
        font-style: normal;
        display: inline-block;
        position:relative;
    }
    .sidr-class-fa-shopping-cart:before {
        content: "\f07a";
    }
    .sidr-class-vce-custom-cart .sidr-class-fa-shopping-cart {
        font-size: 18px;
    }
    .sidr-class-vce-custom-cart .sidr-class-vce-cart-count {
        display:inline-block;
        padding:0;
        transition: all .2s ease;
        position: absolute;
        top: 7px;
        right: -9px;
        color: #FFF;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        font-size: 10px;
        line-height: 15px;
        text-align: center;
        z-index: 100;
    }

    /* mega menu nav - dropdown */

    .sidr-class-vce-mega-menu-wrapper .sidr-class-vce-mega-menu-posts-wrap li a {
        line-height: 22px;
        padding: 13px 15px 14px 30px;
    }
    
    .sidr-class-vce-mega-menu-wrapper .sidr-class-vce-mega-menu-posts-wrap li .sidr-class-mega-menu-img {
            display: none;
            padding: 0;
            width: 0;
            height: 0;
    }

    .sidr-class-vce-mega-cat.sidr-class-current_page_item > a:nth-child(1) {
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
    
}



@media only screen and (min-width: 200px) and (max-width: 670px) {
    html {
        margin-top: 0 !important;
        overflow-x: visible;
    }
    html body,
    button,
    input,
    select,
    textarea {
        font-size: 14px;
        line-height: 22px;
    }
    .container {
        max-width: 95%;
    }
    .vce-featured {
        max-height: 200px;
        min-height: 200px;
    }
    .vce-main-content {
        padding: 0 0 10px !important;
    }
    body .vce-featured-grid-big.vce-featured-grid .vce-featured-link-article,
    body .vce-featured-link-article,
    body .vce-featured-grid .vce-featured-link-article {
        font-size: 20px;
        line-height: 26px;
    }
    body .vce-lay-g .entry-title,
    body .vce-lay-g .entry-title a,
    body .vce-lay-g .entry-title a,
    body .vce-lay-g .entry-title a:hover {
        font-size: 18px;
        line-height: 22px;
    }
    .vce-lay-g .entry-title {
        padding: 0 20px;
        margin-top: 5px;
    }
    .vce-lay-a .entry-title {
        line-height: 34px;
    }
    .vce-featured-section a,
    .meta-category a {
        font-size: 14px;
    }
    .vce-featured-full-slider .owl-nav i {
        font-size: 30px;
    }
    .vce-featured-full-slider .owl-nav .owl-prev,
    .vce-featured-full-slider .owl-nav .owl-next {
        width: 30px;
        height: 60px;
        margin-top: -30px;
    }
    .vce-hover-effect,
    .vce-featured .vce-featured-info {
        width: 100%;
        margin: 0;
        left: 0;
        text-align: center;
    }
    .vce-featured-grid .vce-featured-title {
        width: 80%;
    }
    
    .vce-featured-grid-big .vce-grid-text .vce-featured-info {
        width: 80%;
        padding: 0 80px;
    }
    .vce-lay-g .vce-featured-header {
        padding: 10px 0;
    }
    .main-box-inside {
        padding: 10px 10px 0 10px;
    }
    .main-box,
    .comment-respond,
    .sidebar .widget {
        margin-bottom: 10px;
    }
    .vce-lay-b,
    .vce-lay-c {
        padding: 0 0 5px;
        margin: 0 0 10px;
    }
    .vce-sid-right .vce-lay-b .meta-image,
    .vce-sid-left .vce-lay-b .meta-image,
    .vce-lay-b img,
    .vce-lay-c,
    .vce-lay-c img {
        width: 100%;
        min-height: initial;
        min-width: initial;
        max-height: initial;
        margin-right: 0;
    }
    .vce-lay-d,
    .vce-lay-c .meta-image,
    .vce-post-big li a,
    .vce-post-slider li a,
    .vce-post-img img {
        width: 100%;
    }
    .vce-lay-d {
        min-height: initial;
    }
    .vce-prev-next-link {
        margin: 0 0 10px;
        display: inline-block;
        padding: 0 5px;
        vertical-align: top;
    }
    .vce-module-columns .main-box-half,
    .vce-sid-none .vce-module-columns .main-box-half {
        width: 100%;
    }
    .vce-sid-left .vce-module-columns .main-box-half:nth-child(2n),
    .vce-sid-right .vce-module-columns .main-box-half:nth-child(2n) {
        margin-left: 0;
    }
    .vce-lay-e .meta-image {
        text-align: center;
        background: rgba(0, 0, 0, 0.1);
    }
    .vce-lay-d img {
        max-width: 120px;
        min-height: initial;
        max-height: initial;
    }
    .vce-lay-d .meta-image {
        margin-right: 10px;
    }
    body .vce-lay-d .entry-title,
    body .vce-lay-e .entry-title,
    body .vce-lay-f .entry-title {
        font-size: 13px;
        line-height: 17px;
        max-width: 300px;
    }
    body .vce-lay-d .meta-category a,
    body .vce-lay-d .entry-meta div,
    body .vce-lay-d .entry-meta div a {
        font-size: 12px;
        line-height: 16px;
    }

    .vce-sid-none .vce-lay-b,
    .vce-sid-none .vce-lay-c,
    .vce-sid-none .vce-lay-f {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .vce-sid-none .vce-lay-b img,
    .vce-sid-none .vce-lay-c img,
    .vce-sid-none .vce-lay-b .meta-image,
    .vce-sid-none .vce-lay-c .meta-image {
        width: 100%;
        min-height: initial;
        min-width: initial;
        max-height: initial;
        margin-right: 0;
    }
    .vce-sid-none .vce-lay-b .entry-header {
        padding: 0;
    }

    .vce-sid-right .vce-lay-c,
    .vce-sid-left .vce-lay-c,
    .vce-sid-right .vce-lay-d,
    .vce-sid-left .vce-lay-d,
    .vce-sid-none .vce-lay-c,
    .vce-sid-none .vce-lay-d,
    .vce-sid-right .vce-lay-c:nth-child(2n),
    .vce-sid-left .vce-lay-c:nth-child(2n),
    .vce-sid-right .vce-lay-d:nth-child(2n),
    .vce-sid-left .vce-lay-d:nth-child(2n),
    .vce-sid-none .vce-lay-c:nth-child(3n),
    .vce-sid-none .vce-lay-d:nth-child(3n),
    .vce-sid-none .vce-lay-e:nth-child(7n) {
        margin: 0 0 10px 0 !important;
    }

    .vce-sid-right .vce-lay-e,
    .vce-sid-left .vce-lay-e,
    .vce-sid-none .vce-lay-e,
    .vce-sid-left .vce-lay-e:nth-child(5n),
    .vce-sid-right .vce-lay-e:nth-child(5n) {
        margin: 0 10px 10px 0;
    }
    .vce-sid-right .vce-lay-e:nth-child(2n),
    .vce-sid-left .vce-lay-e:nth-child(2n) {
        margin: 0 0 10px 0;
    }
    .vce-sid-left .vce-lay-e,
    .vce-sid-right .vce-lay-e {
        width: 47.7%;
    }

    .vce-sid-right article.vce-lay-e:nth-of-type(1n),
    .vce-sid-left article.vce-lay-e:nth-of-type(1n),
    .vce-sid-none article.vce-lay-e:nth-of-type(1n),
    .vce-sid-none article.vce-lay-h:nth-of-type(1n) {
        margin: 0 10px 10px 0;
    }

    .vce-sid-left article.vce-lay-e:nth-of-type(2n),
    .vce-sid-right article.vce-lay-e:nth-of-type(2n),
    .vce-sid-none article.vce-lay-e:nth-of-type(2n) {
        margin: 0 0 10px 0;
    }

    body .vce-lay-b .entry-title,
    body .vce-lay-a .entry-title,
    body .vce-lay-a .entry-title a {
        line-height: 28px;
        font-size: 22px;
        text-align: center;
        padding: 0 10px;
    }
    .vce-lay-b .entry-header {
        text-align: center;
    }
    .vce-lay-b .meta-image {
        margin-bottom: 12px;
    }
    .vce-lay-c .entry-content,
    .vce-lay-a .entry-content,
    .vce-lay-c .entry-title {
        padding: 0 10px;
        max-width: 100%;
        clear: both;
    }

    .vce-sid-right .vce-lay-f,
    .vce-sid-left .vce-lay-f {
        width: 100%;
        margin: 0 0 10px;
    }

    .vce-lay-g .entry-meta {
        display: none;
    }
    .vce-single .entry-content,
    .vce-single .entry-headline,
    .vce-single .entry-footer,
    .vce-sid-none .vce-single .entry-content,
    .vce-sid-none .vce-single .entry-headline,
    .vce-sid-none .vce-single .entry-footer,
    .vce-page .entry-content,
    .vce-page .entry-title-page,
    .vce-sid-none .vce-page .entry-content,
    .vce-sid-none .vce-page .entry-title-page,
    .error404 .entry-content,
    .vce-page .entry-content {
        width: 100% !important;
        padding-left: 20px;
        padding-right: 20px;
        margin: 20px auto 20px;
    }
    .vce-share-items .meks_ess a {
        width: 100%;
        float: none;
        display: block;
        margin-bottom: 10px;
    }
    .vce-share-items .meks_ess{
        width: 100%;
        display: block;
        min-width: initial;
        max-width: initial;
    }
    body .vce-share-items .meks_ess.rounded a,
    .vce-wrap-left,
    .vce-wrap-right,
    .vce-wrap-center {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    .vce-prev-link,
    .vce-next-link{
        width: 48%;
    }
    .img-wrp {
        float: none;
        max-height: 195px;
        display: inline-block;
        margin-bottom: 5px;
    }
    .img-wrp img{
        object-fit: cover;
    }
    .vce-single .entry-header {
        margin: 20px 0;
    }
    .vce-share-bar {
        padding: 0 20px;
        width: 100% !important;
    }

    .vce-wrap-left,
    .vce-wrap-right,
    .vce-wrap-center {
        text-align: center;
    }
    .data-image {
        float: left;
        margin-right: 0;
            margin-bottom: 0;
        display: block;
        text-align: center;
        width: 100%;
    }
    .data-content {
        margin: 0;
        text-align: center;
    }
    .data-links {
        float: none;
        margin-bottom: 10px;
    }
    .vce-author-links {
        text-align: center;
        width: 100%;
    }
    .vce-author-links a {
        float: none;
        display: inline-block;
    }
    .comment-form-author,
    .comment-form-email,
    .comment-form-url,
    .main-box-subtitle {
        width: 100%;
    }
    .container-fix {
        margin: 0;
    }
    #vce-pagination,
    .vce-slider-pagination .owl-controls {
        padding: 10px;
        margin: 0 -10px;
    }

    .mks_adswidget_ul.large li,
    .site-footer .mks_adswidget_ul.large li {
        padding: 0;
    }
    .mks_ads_widget .small li,
    .mks_ads_widget ul.custom li,
    .mks_adswidget_ul.small li,
    .mks_adswidget_ul.custom li,
    .mks_adswidget_ul.small li:nth-child(2n),
    .site-footer .mks_adswidget_ul.small li:nth-child(2n) {
        padding: 10px;
    }

    .entry-content {
        font-size: 14px;
        line-height: 22px;
    }
    body h1.entry-title {
        font-size: 24px;
        line-height: 30px;
        padding: 0 20px;
    }
    .vce-single .entry-headline p {
        font-size: 16px;
        line-height: 24px;
    }
    body p {
        margin-bottom: 20px;
    }
    body h1 {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 10px;
    }

    body h2 {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 10px;
    }

    body h3 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
        -webkit-font-smoothing: antialiased;
    }

    body h4 {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 10px;
    }

    body h5 {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 10px;
    }

    body h6 {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    body blockquote{
        font-size: 18px;
        line-height: 26px;    
        margin: 0 0 0 27px;    
    }
    body blockquote:before, q:before{
        top: -5px;
        font-size: 18px;
        left: -27px;
    }
    .sidebar .widget-title {
        line-height: 22px;
    }
    .bit-1,
    .bit-2,
    .bit-3,
    .bit-4,
    .bit-5,
    .bit-6,
    .bit-7,
    .bit-8,
    .bit-9,
    .bit-10,
    .bit-11,
    .bit-12 {
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }
    body .main-box-title,
    body .comment-reply-title {
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin-bottom: 0;
        padding: 10px 10px 12px 10px;
    }
    .vce-sid-right .vce-slider-pagination .vce-lay-c,
    .vce-sid-left .vce-slider-pagination .vce-lay-c,
    .vce-slider-pagination .vce-lay-a {
        width: auto;
        margin: 0 0 10px !important;
    }
    .vce-sid-left .vce-slider-pagination .vce-lay-g,
    .vce-sid-right .vce-slider-pagination .vce-lay-g {
        width: auto;
    }
    .vce-sid-right .vce-slider-pagination .vce-lay-d,
    .vce-sid-left .vce-slider-pagination .vce-lay-d {
        width: 100%;
        margin: 0 10px 10px 0 !important;
    }
    .vce-sid-left .vce-slider-pagination .vce-lay-g,
    .vce-sid-right .vce-slider-pagination .vce-lay-g {
        max-height: 300px;
    }
    .vce-slider-pagination .vce-lay-b {
        margin: 0 10px 20px 10px !important;
        text-align: center;
        padding: 0 0 10px;
        width: auto;
    }
    .vce-slider-pagination .vce-lay-a .meta-image {
        max-height: 250px;
    }
    .vce-gallery-big {
        height: 200px !important;
    }
    .wp-caption {
        width: 100% !important;
    }
    .mks_col .mks_one_half,
    .mks_col .mks_one_third {
        width: 100%;
        margin: 0 0 10px;
    }
    .site-info .container>div {
        display: block;
        width: 100%;
    }
    .main-box .vce-link-pages a,
    .comment-reply-link {
        margin: 0;
    }
    .vce-paginated-num {
        display: none;
    }
    .comment-list .comment-content,
    .vce-lay-a.vce-post {
        margin: 0 0 10px;
    }
    body .vce-lay-a .vce-format-icon i,
    body .vce-lay-g .vce-format-icon i {
        height: 80px;
        width: 80px;
        padding: 18px 0 0 0;
        font-size: 35px;
        line-height: 37px;
    }
    .vce-wrap-right>div,
    .vce-wrap-right>ul {
        float: none;
        display: inline-block;
        margin: 10px 0 0;
    }
    .vce-author-card .data-image {
        margin: 10px 0;
        text-align: center;
    }
    .data-image img,
    .data-links a {
        margin: 0;
    }
    .vce-author-card .data-content {
        margin: 0;
        padding-right: 0;
    }
    .data-entry-content {
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .alignleft,
    .alignright {
        margin: 0 0 20px;
    }
    .vce-lay-b .entry-content {
        padding: 0 10px;
    }
    .header-sticky {
        -webkit-transition: transform 100ms ease-in-out;
        -moz-transition: transform 100ms ease-in-out;
        -ms-transition: transform 100ms ease-in-out;
        -o-transition: transform 100ms ease-in-out;
        transition: transform 100ms ease-in-out;
    }
    .wp-video {
        min-height: initial;
    }
    #vce-featured-grid .owl-controls .owl-prev,
    #vce-featured-grid .owl-controls .owl-next,
    .vce-post-slider .owl-controls .owl-prev,
    .vce-post-slider .owl-controls .owl-next {
        opacity: 0.4;
        filter: alpha(opacity=40);
    }
    .vce-featured-grid .owl-prev,
    .vce-featured-grid .owl-next,
    .vce-post-slider .owl-prev,
    .vce-post-slider .owl-next {
        width: 30px;
        height: 60px;
        top: 50%;
        margin-top: -30px;
    }
    .vce-featured-grid i.fa-angle-right,
    .vce-post-slider i.fa-angle-right {
        right: 5px;
    }
    .vce-featured-grid i.fa-angle-left,
    .vce-post-slider i.fa-angle-left {
        left: 5px;
    }
    .bbp-reply-content {
        margin: auto !important;
    }
    .vce-lay-h .img-wrap {
        max-height: initial;
        height: 195px;
        min-height: initial;
    }
    .vce-lay-h .entry-meta {
        display: none;
    }

    .site-footer .vce-post-list .vce-posts-wrap {
        width: 50% !important;
        max-width: 100% !important;
        margin-left: 10px !important;
    }
 
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product,
    .woocommerce-page[class*=columns-] ul.products li.product,
    .woocommerce[class*=columns-] ul.products li.product,
    .woocommerce .woocommerce-ordering,
    .woocommerce .woocommerce-ordering .orderby,
    .woocommerce .woocommerce-ordering .orderby span {
        width: 100% !important;
    }
    .vce-sid-none .vce-slider-pagination .vce-lay-h {
        width: 100%;
        margin-left: 0 !important;
    }
    .vce-lay-h .img-wrap .entry-header .entry-title a {
        padding: 0 20px;
    }
    .mks_pullquote{
        margin-bottom: 20px;
    }
    .mks_tabs.vertical .mks_tab_nav_item{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;        
    }
    .vce-loop-wrap .vce-lay-d,
    .main-box-half .vce-lay-d{
        width: 100% !important;
    }

}


@media only screen and (max-width: 670px) {
.vce-grid-text .vce-featured-info {
    margin-top: 14%;
}

body .vce-lay-b .entry-title {
    line-height: 26px;
    font-size: 20px;
}

.vce-format-icon,
.vce-pn-ico{
	transform: scale(.8);
}
    .main-box .vce-link-pages a {
        top: 4px;
    }
}

@media (max-width:1023px) {
    .vce-sid-none .vce-lay-h {
        width: 48%;
        display: inline-block;
    }
    .vce-sid-none article.vce-lay-h:nth-of-type(3n) {
        margin: 0 3% 3% 0;
    }
    .vce-sid-none article.vce-lay-h:nth-of-type(2n) {
        margin: 0 0 3%;
    }

}


@media screen and (max-width: 930px) {
    .vce-sid-none .alignwide{
        max-width: 100%;
        margin-left: 0;
        width: 100%;
    }
}


@media (max-width:800px) {
    .vce-header-ads {
        width: 728px;
    }
    .vce-lay-h .img-wrap .entry-header .entry-title a{
        padding: 0 30px;
    }
}

@media (max-width:728px) {
    .vce-header-ads {
        margin: 0 auto;
        float: left;
        display: block;
        clear: both;
        width: 100%;
    }
    .vce-slider-pagination .vce-lay-g .vce-format-icon {
        top: 25%;
    }
}

@media (max-width:420px) {
    .vce-header-ads {
        width: 300px;
    }

    .vce-post-list .vce-post-link {
        font-size: 13px;
        line-height: 18px;
        padding: 0;
    }
    .mks_themeforest_widget .mks_themeforest_widget_ul li{
        margin: 0 2px 4px 0;
    }
    .mks_themeforest_widget .mks_themeforest_widget_ul li:nth-child(3n){
        margin: 0 0 4px;
    }
    .widget ul.flickr{
        padding: 10px 5px 5px 12px;
    }
    .meta-author-img{
        transform: scale(.6);
        margin: -57px 0 -10px;
    }
    .vce-sid-left article.vce-lay-h:nth-of-type(1n), .vce-sid-right article.vce-lay-h:nth-of-type(1n){
        margin-bottom: 10px !important;
    }
    body .vce-lay-c .entry-title, .vce-sid-none .vce-lay-c .entry-title {
        line-height: 26px;
        font-size: 20px;
    }
}
@media (max-width: 540px){
    .vce-lay-h,
    .vce-sid-none .vce-lay-h {
        width: 100%;
        display: block;
    }
    .vce-lay-h .img-wrap {
        max-height: initial;
        height: 200px;
        min-height: 200px;
    }
    .vce-sid-none .vce-lay-h .img-wrap {
        min-height: 200px;
        height: 200px;
    }
    .vce-prev-link,
    .vce-next-link{
        width: 100%;
        margin: 0 0 5px 0;
    }

    .vce-grid-item{
        width: 320px;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 500px) {
    .vce-sid-none .vce-lay-c,
    .vce-sid-none .vce-lay-c:nth-child(3n) {
        width: 48.5%;
        margin: 0 3% 3% 0 !important;
    }
    .vce-sid-none .vce-lay-c:nth-child(2n) {
        margin: 0 0 10px 0 !important;
    }
}

/* Admin bar tweaking */
@media screen and (min-width: 601px){
    .admin-bar .header-sticky,
    body.admin-bar.sidr-main-open,
    .admin-bar .sidr {
        top: 46px;
    }
}
@media screen and (min-width: 783px){
    .admin-bar .header-sticky,
    body.admin-bar.sidr-main-open,
    .admin-bar .sidr{
        top: 32px;
    }
}

@media screen and (max-width: 670px) and (min-width: 360px){
    .vce-lay-e .meta-image:hover a img{
        transform: none;
    }
}
/* Review plugin resposnive */
@media screen and (max-width: 470px){
    .review-total-wrapper span.review-total-box,
    .review-total-wrapper {
        text-align: center;
    }
}
/* Gutenberg */
@media (min-width: 600px){
    .wp-block-gallery.columns-2.owl-carousel .blocks-gallery-image, 
    .wp-block-gallery.columns-2.owl-carousel .blocks-gallery-item,
    .wp-block-gallery.columns-3.owl-carousel .blocks-gallery-image, 
    .wp-block-gallery.columns-3.owl-carousel .blocks-gallery-item,
    .wp-block-gallery.columns-4.owl-carousel .blocks-gallery-image, 
    .wp-block-gallery.columns-4.owl-carousel .blocks-gallery-item,
    .wp-block-gallery.columns-5.owl-carousel .blocks-gallery-image, 
    .wp-block-gallery.columns-5.owl-carousel .blocks-gallery-item,
    .wp-block-gallery.columns-6.owl-carousel .blocks-gallery-image, 
    .wp-block-gallery.columns-6.owl-carousel .blocks-gallery-item {
        width: 100%;
		margin-right: 0;
		padding-right: 1px;
    }
}
@media (max-width: 767px){
    .wp-block-pullquote p, 
    .wp-block-pullquote.is-style-solid-color blockquote p{
        font-size: 18px;
        line-height: 30px;
    }
    blockquote.wp-block-quote,
    blockquote.wp-block-quote.is-style-large{
        margin-left: 30px;
    }

    .wp-block-pullquote{
        padding: 0;
    }

    .wp-block-pullquote blockquote{
        padding: 30px;
    }

    .wp-block-pullquote p, 
    .wp-block-pullquote.is-style-solid-color blockquote p{
        font-size: 20px;
        line-height: 32px;
    }
    .wp-block-pullquote.alignleft, 
    .wp-block-pullquote.alignright {
        max-width: 100%;
        margin-left: 0;
        padding: 0;
        margin-right: 0;
    }
    
    .wp-block-quote,
    .wp-block-quote.is-style-large{
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
@media(max-width: 670px){
    .wp-block-image .alignleft,
    .wp-block-image .alignright{
        float: none;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }

}