body,
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td, nav, a{
	direction: rtl;
	unicode-bidi: embed;
	text-align: right;
}
ul,ol {
  margin: 0 30px 30px 0;
}
.main-navigation ul ul a,
caption,
th,
td,
.mks_author_widget p,
.vce-post-list .vce-post-link,
.vce_posts_widget .vce-post-list li,
.header-left-nav .main-navigation ul,
.header-2-wrapper .site-branding,
.header-3-wrapper .site-branding,
.vce-gallery-big .gallery-caption,
.vce-featured-full-slider .owl-nav .owl-prev,
.vce-featured-full-slider .owl-nav .owl-next,
.mfp-content,
.mfp-title,
.vce-page .entry-content, .vce-page .entry-title-page {
	text-align: right;
}
#wp-calendar tfoot #next{
	text-align: left;
}
.vce-share-bar,
.vce-share-items li,
.vce-responsive-nav,
.vce-404-menu li,
.main-navigation,
.main-navigation li.fa:before,
.search-header-form-ul li,
.header-sticky .site-title,
ul.mks_social_widget_ul li,
.mks_themeforest_widget .mks_themeforest_widget_ul li,
.nav-menu .vce-mega-menu-wrapper > li,
.nav-menu .vce-mega-menu .sub-menu .sub-menu a:before,
.mks_author_widget h3,
.vce_posts_widget li,
.vce-post-big .vce-post-link,
.vce-post-slider .vce-post-link,
.vce-post-img,
.vce-post-big li,
.vce-post-slider li,
.widget_nav_menu .menu-item-has-children ul.sub-menu,
.widget_pages .page_item_has_children ul.children,
.widget_nav_menu li a,
.widget_pages li a,
.gallery-item,
.soc-nav-menu li,
.header-2-wrapper .site-branding,
.header-3-wrapper .site-branding,
.vce-lay-a .entry-header,
.vce-lay-b .meta-image,
.vce-lay-b img,
.vce-lay-c,
.vce-lay-d .meta-image,
.vce-lay-d img,
.vce-lay-d,
.vce-lay-e,
.vce-lay-f,
.vce-square,
.prev-next-nav,
.img-wrp,
.data-image,
.data-links,
.vce-author-links a,
.older_entries,
.newer_entries,
#vce-pagination,
.vce-slider-pagination .owl-controls,
.vce-slider-pagination,
#vce-pagination .prev,
.vce-prev a,
.bottom-nav-menu li,
.comment-form,
.comments-main,
.comment-form-author, .comment-form-email, .comment-form-url,
.comment,
.comment .avatar,
.comment-form-author label,
.comment-form-email label,
.comment-form-url label,
.comment-form-comment label,
.vce-grid-item,
.vce-responsive-nav,
.vce-404-menu li{
	float: right;
}
.nav-menu > .menu-item-has-children > a:after,
.nav-menu .vce-mega-cat > a:after,
.nav-menu ul .menu-item-has-children > a:after,
.header-sticky .main-navigation,
.count-hidden,
.widget_categories a .count,
.vce-post-big li a,
.vce-post-slider li a,
.widget_nav_menu .menu-item-has-children:after,
.widget_pages li.page_item_has_children:after,
.vce-social-name,
.vce-header-ads,
.header-3-wrapper .main-navigation,
.vce-author-links,
#vce-pagination .next,
#vce-pagination .prev,
.vce-next a,
.vce-prev a,
.comment-body .edit-link a,
#respond h3 .cancel-comment-reply, #respond #cancel-comment-reply-link{
	float: left;
}
.vce-header-ads {
	right: auto;
	left: 0;
}
.header-left-nav .search-header-wrap {
	float: none;
}
.vce-sid-right .vce-slider-pagination .vce-lay-c, .vce-sid-left .vce-slider-pagination .vce-lay-c, 
.vce-sid-right .vce-slider-pagination .vce-lay-d, .vce-sid-left .vce-slider-pagination .vce-lay-d{
	margin: 0 0 20px 20px !important;
}
.nav-menu .vce-mega-menu-wrapper, .nav-menu .vce-mega-menu .sub-menu, .nav-menu .vce-mega-menu-wrapper > li.vce-mega-menu-posts-wrap > ul{
	right: 0;
	left: auto;
}
.site-footer .bit-3 .vce-post-list .vce-posts-wrap{
    margin-right: 0;
    width: 60%;
    margin-left: 0;	
}
.vce-post-list .vce-post-link{
	padding: 5px 0 0 0;
}
.vce-slider-pagination .owl-nav{
	direction: ltr;
}
.vce-prev-link {
  margin: 0 0 20px 15px;
}
.data-links a,
.comment-form-author{margin: 0;}
.comment-form-author{padding: 0;}
.comment-form-url{padding: 0 20px 0 0;}
.vce-featured-section,
.vce-featured-title,
.vce-featured .entry-meta,
.vce-lay-a .entry-title,
.vce-featured-link-article{
	text-align: center;
}
.nav-menu > .menu-item-has-children > a:after, .nav-menu .vce-mega-cat > a:after{
	margin: 2px 5px 0 0;
}
.vce-post .entry-content p,
.entry-meta,
h1.entry-title{
	text-align: center;
}
.widget_categories a .count{
	right: initial;
	left:0;
}
.widget_categories a{
	padding: 0 20px 0 0;
}
.vce-lay-d{
	padding: 0 0 0 10px;
}
.vce-lay-d .meta-image{
	margin: 0 0 0 15px;
}
.vce-sid-right .vce-lay-c, .vce-sid-left .vce-lay-c, .vce-sid-right .vce-lay-d, 
.vce-sid-left .vce-lay-d, .vce-sid-none .vce-lay-c, .vce-sid-none .vce-lay-d, 
.vce-sid-right .vce-lay-e, .vce-sid-left .vce-lay-e, .vce-sid-none .vce-lay-e{
	margin: 0 0 20px 20px;
}
.vce-sid-right .vce-lay-c:nth-child(2n), .vce-sid-left .vce-lay-c:nth-child(2n), 
.vce-sid-right .vce-lay-d:nth-child(2n), .vce-sid-left .vce-lay-d:nth-child(2n), .vce-sid-none .vce-lay-c:nth-child(3n), .vce-sid-none .vce-lay-d:nth-child(3n), 
.vce-sid-left .vce-lay-e:nth-child(5n), .vce-sid-right .vce-lay-e:nth-child(5n), .vce-sid-none .vce-lay-e:nth-child(7n){
	margin: 0 0 20px 0;
}
.data-image{
	margin: 0 0 20px 20px;
}
.vce-lay-b{
	padding: 0 0 0 20px;
}
.vce-lay-b .meta-image{
	margin: 0 0 0 20px;
}
.vce-lay-b .entry-meta{
	text-align: right;
}
.vce-lay-f .entry-title{
	margin: 0 17px 0 0;
}
.vce-square{
	margin: 7px 0 0 12px;
}
.vce-lay-g .vce-featured-info,
.vce-lay-g .entry-title,
.vce-lay-g .entry-meta,
.meta-author-wrapped{
	text-align: center;
}
.comment .avatar{
	margin: 0 0 0 20px;
}
.comment-body .edit-link{
	left: 0;
	right: initial;
}
.vce-post-list .vce-post-img{
	margin: 0 0 0 13px;
}
.vce-gallery-slider .owl-nav .owl-next, .vce-gallery-slider .owl-nav .owl-prev{
	left: 0;
}
.nav-menu ul .menu-item-has-children > a:after{
	content: "\f104";
}
.main-navigation ul ul li > ul {
	right: 100%;
	left: initial;
	left: inherit;
}
.main-header .site-title, .main-header .site-title a{
	text-align: center;
}
.main-navigation ul li.search-header-wrap.vce-zoomed > ul.search-header-form-ul{
	right: initial;
	left: 0;
}
.vce-lay-b .entry-content {
	margin-right: 395px;
	margin-left: 0;
}
.vce-lay-b .entry-content p{
	text-align: right;
}
.review-result{
	right: 0;
	left: auto;
}
.vce-lay-d .entry-meta > div{
	float: right;
}
.bottom-nav-menu li:last-child{
	margin: 0;
}
.sidr ul li > a{
	padding: 0 65px 0 10px;
}
.sidr ul li ul li a{
	padding: 0 30px 0 10px;
}
.sidr ul li ul li.sidr-class-menu-item-has-children a{
	padding: 0 65px 0 10px;
}
.mks_adswidget_ul.small li:nth-child(2n), .site-footer .mks_adswidget_ul.small li:nth-child(2n){
	padding: 15px 0 0 15px;
}
.mks_themeforest_widget .mks_themeforest_widget_ul li{
	margin: 0 0 10px 10px;
}
.main-box-subtitle p,
.vce-posts-wrap a{
	text-align: center;
}
blockquote{
	margin: 0 37px 0 0;
}
blockquote:before, q:before{
	left: initial;
	right: -35px;
}
.mks_button i {
  margin: 0 0 0 5px;
}
.site-footer .vce-post-list .entry-meta{text-align: right;}
.mks_accordion_item:last-child, .mks_toggle_active .mks_toggle_content{margin: 0;}
.mks_progress_name{float: left;}
_:-ms-input-placeholder, :root .widget_categories a .category-text {margin-right: 30px;}
_:-ms-input-placeholder, :root .widget_categories li:before{left: 0;}

.nav-menu .menu-item-has-children a:after{
	position: absolute;
	right: initial;
	left: 7px;
	top: 10px;
}	
.nav-menu .vce-mega-cat a:after,
.nav-menu .menu-item-has-children a:after{
	position: static;
	float: left;
	margin: 0 0  0 -15px;
}
.nav-menu .menu-item-has-children a, 
.nav-menu .vce-mega-cat a{
	padding-left: 20px;
}
.main-navigation ul li.search-header-wrap > ul.search-header-form-ul {
  right: initial;
  left: 0;
}
.sidebar .widget ul.flickr li {
  margin: 0 0px 10px 10px;
}
.widget ul.flickr{
	padding: 20px 20px 10px 10px;
}
pre{direction: ltr; text-align: left;}
.mks_author_widget p,
.vce-wrap-left > div, .vce-wrap-left > ul{text-align: center;}
.vce-post-big .vce-post-link{float: none;}
.vce-prev-link {
  margin: 0 15px 20px 0;
  float: left;
}

.vce-menu-parent{
	right:auto;
	left: 0;
	border-left: none;
    border-right: 1px solid rgba(0,0,0,0.1);
}
.sidr ul li ul li a{
	padding: 0 20px 0 30px;
}
.sidr ul li ul li.sidr-class-menu-item-has-children a,
.sidr ul li > a{
	padding: 0 20px 0 65px;
}

.vce-sid-right .vce-lay-c:nth-child(2n),
.vce-sid-left .vce-lay-c:nth-child(2n),
.vce-sid-right .vce-lay-d:nth-child(2n),
.vce-sid-left .vce-lay-d:nth-child(2n),
.vce-sid-none .vce-lay-c:nth-child(3n),
.vce-sid-none .vce-lay-d:nth-child(3n),
.vce-sid-left .vce-lay-e:nth-child(5n),
.vce-sid-right .vce-lay-e:nth-child(5n),
.vce-sid-none .vce-lay-e:nth-child(7n){
	margin: 0 0 20px 0;
}
.vce-sid-right article.vce-lay-c:nth-of-type(1n),
.vce-sid-left article.vce-lay-c:nth-of-type(1n),
.vce-sid-right article.vce-lay-d:nth-of-type(1n),
.vce-sid-left article.vce-lay-d:nth-of-type(1n),
.vce-sid-none article.vce-lay-c:nth-of-type(1n),
.vce-sid-none article.vce-lay-d:nth-of-type(1n),
.vce-sid-right article.vce-lay-e:nth-of-type(1n),
.vce-sid-left article.vce-lay-e:nth-of-type(1n),
.vce-sid-none article.vce-lay-e:nth-of-type(1n),
.vce-sid-none article.vce-lay-h:nth-of-type(1n){
	margin: 0 0 20px 20px;
}
.vce-sid-right article.vce-lay-c:nth-of-type(2n),
.vce-sid-left article.vce-lay-c:nth-of-type(2n),
.vce-sid-right article.vce-lay-d:nth-of-type(2n),
.vce-sid-left article.vce-lay-d:nth-of-type(2n),
.vce-sid-none article.vce-lay-c:nth-of-type(3n),
.vce-sid-none article.vce-lay-d:nth-of-type(3n),
.vce-sid-left article.vce-lay-e:nth-of-type(5n),
.vce-sid-right article.vce-lay-e:nth-of-type(5n),
.vce-sid-none article.vce-lay-e:nth-of-type(7n){
	margin: 0 0 20px 0;	
}

.header-sticky .container{
	text-align: center;
}
.header-sticky .site-title{
	float: right;
	display: inline-block;
}
.vce-post-slider .meta-category a {
	float: none;
}
.review-list .review-star, .user-review-area .review-star, .review-total-circle .review-star, .wp-review-point-type .review-total-circle .review-star, .wp-review-percentage-type .review-total-circle .review-star{
	right: auto;
	left: 15px;
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
.vce-post.vce-lay-b .entry-content {
	margin-right: 0;
	margin-left: 0;
}	
}

@media only screen and (max-width: 1023px) {
.vce-post.vce-lay-b .entry-content {
	margin-right: 0;
	margin-left: 0;
}	
}
@media only screen and (max-width: 670px) and (min-width: 200px){
.vce-lay-b .meta-image{margin: 0 0 10px;}
.vce-lay-b{padding: 0;}
.vce-lay-b .entry-meta {
  text-align: center;
  margin: 10px 0 10px;
  padding: 10px 0 10px;
}
.site-info p{text-align: center;}
.bottom-nav-menu li,.bottom-nav-menu li:last-child{margin: 0 5px; float: none; display: inline-block;}
.vce-wrap-right > div, .vce-wrap-right > ul{text-align: center;}
.mks_adswidget_ul.small li:nth-child(2n), .site-footer .mks_adswidget_ul.small li:nth-child(2n) {padding: 0;}
.mks_themeforest_widget .mks_themeforest_widget_ul{padding: 20px 10px 20px; text-align: center;}
.sidebar .mks_themeforest_widget .mks_themeforest_widget_ul li {
  padding: 0;
  margin: 0 0 10px;
  float: none;
  display: inline-block;
}
.data-links{float: none; text-align: center;}
.vce-author-links{text-align: center;}
.vce-author-links a{float: none;}
.vce-sid-left .vce-lay-e, .vce-sid-right .vce-lay-e { width: 100%;}
.vce-loop-wrap{direction: ltr;}
.comment-form-author, .comment-form-email, .comment-form-url{padding: 0;}
.mks_ads_widget .small li, .mks_ads_widget ul.custom li, .mks_adswidget_ul.small li, .mks_adswidget_ul.custom li, .mks_adswidget_ul.small li:nth-child(2n), .site-footer .mks_adswidget_ul.small li:nth-child(2n) {
  padding: 0px 0 4px;
}
.mks_adswidget_ul.small, .site-footer .mks_adswidget_ul.small{padding: 20px;}
}