				@font-face {
					font-family: 'droid-sans';
					src: url('/noticias/wp-content/uploads/useanyfont/200319025703Droid-Sans.woff2') format('woff2'),
						url('/noticias/wp-content/uploads/useanyfont/200319025703Droid-Sans.woff') format('woff');
				}

				.et_gf_droid-sans{background:none !important;font-family:droid-sans;text-indent:0 !important;font-size:25px;}

		