				@font-face {
					font-family: 'droid-sans';
					src: url('/noticias/wp-content/uploads/useanyfont/200319025703Droid-Sans.woff2') format('woff2'),
						url('/noticias/wp-content/uploads/useanyfont/200319025703Droid-Sans.woff') format('woff');
				}

				.droid-sans{font-family: 'droid-sans' !important;}

		