body,
button,
input,
select,
textarea {
  line-height: 1.63;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
h1 {
  line-height: 1.22;
  margin-bottom: 10px;
}
h2 {
  line-height: 1.25;
  margin-bottom: 10px;
}
h3 {
  line-height: 1.29;
  margin-bottom: 10px;
  -webkit-font-smoothing: antialiased;
}
h4 {
  line-height: 1.4;
  margin-bottom: 10px;
}
h5 {
  line-height: 1.5;
  margin-bottom: 10px;
}
h6 {
  line-height: 1.56;
  margin-bottom: 10px;
}
p {
  margin-bottom: 30px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
b,
strong {
  font-weight: bold;
}
dfn,
cite,
em,
i {
  font-style: italic;
}
blockquote {
  margin: 0 0 0 37px;
  font-size: 22px;
  line-height: 30px;
  position: relative;
}
address {
  margin: 0 0 1.5em;
}
pre {
  background: #f6f6f6;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 1.5em;
  max-width: 100%;
  overflow: auto;
  padding: 1.5em;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
mark,
ins {
  text-decoration: none;
}
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: 0.5ex;
}
small {
  font-size: 75%;
}
big {
  font-size: 125%;
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}
ul,
ol {
  margin: 0 0 30px 30px;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 1.5em 1.5em;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.vce-featured-grid .owl-item img,
.owl-carousel .owl-item img {
  width: auto;
}
figure {
  margin: 0;
}
table {
  margin: 0 0 1.5em;
  width: 100%;
  background: #fff;
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid rgba(0, 0, 0, 0.07);
}
th {
  font-weight: bold;
}
.wp-block-latest-comments {
  margin-left: 0;
}
body .wp-block .wp-block-archives,
body .wp-block .wp-block-categories__list,
body .wp-block .wp-block-latest-posts {
  list-style: disc inside;
  margin-left: 0;
  padding-left: 0;
}
.wp-block-latest-comments__comment-excerpt p {
  font-size: 16px;
}
/** === Button Block === */
.wp-block-button__link,
.wp-block-search__button {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  display: inline-block;
  width: auto;
  padding: 5px 20px;
  text-decoration: none;
  border: none;
  min-width: 90px;
  background-position: center center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
}
.wp-block-button__link,
.wp-block-search__button {
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.is-style-outline .wp-block-button__link:hover {
  border-color: inherit;
  background: transparent;
  opacity: 0.7;
}
.wp-block-button__link:hover {
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.1) 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.1) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.1) 100%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.1) 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.1) 100%);
}
.is-style-outline .wp-block-button__link {
  border: 1px solid;
}
.entry-content .wp-block-button__link:hover {
  text-decoration: none;
}
.wp-block-button.is-style-squared .wp-block-button__link {
  -webkit-border-radius: 0;
          border-radius: 0;
}
/** === Code Block === */
pre {
  background: #f6f6f6;
  font-family: "Monaco", "Consolas", "Andale Mono", "DejaVu Sans Mono", monospace;
  max-width: 100%;
  overflow: auto;
  padding: 30px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-size: 16px;
}
.wp-block-code {
  padding: 30px;
}
@media (min-width: 600px) {
  .wp-block-column:nth-child(odd) {
    margin-right: 15px;
  }
  .wp-block-column:nth-child(even) {
    margin-left: 15px;
  }
  .wp-block-column:not(:first-child) {
    margin-left: 15px;
  }
  .wp-block-column:not(:last-child) {
    margin-right: 15px;
  }
}
.wp-block-column p:only-of-type {
  margin-bottom: 0;
}
@media (max-width: 782px) {
  .wp-block-columns {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
}
@media (max-width: 660px) {
  .wp-block-columns {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .wp-block-columns .wp-block-column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .wp-block-column,
  .wp-block-separator,
  .wp-block-embed,
  .wp-block-image,
  .wp-block-pullquote,
  .wp-block-pullquote.is-style-solid-color blockquote p,
  .entry-content .wp-block-quote,
  .wp-block-media-text,
  .wp-block-table {
    margin-bottom: 20px;
  }
  .wp-block-gallery {
    margin-bottom: 4px;
  }
}
/** === Cover Image Block === */
.wp-block-gallery.aligncenter,
.wp-block-gallery.alignnone,
.wp-block-cover-image.alignleft,
.wp-block-cover-image.alignright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image h2 {
  position: relative;
  z-index: 2;
}
.wp-block-cover-image.aligncenter {
  margin: 0 0 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/** === Embed Block === */
.wp-block-audio.aligncenter,
.wp-block-pullquote.aligncenter {
  text-align: center;
}
/** === Gallery Block === */
.wp-block-gallery {
  margin-left: 0;
  margin-right: 0;
}
.wp-block-gallery .blocks-gallery-item {
  overflow: hidden;
}
.wp-block-gallery.owl-carousel .blocks-gallery-item {
  margin: 0;
}
/** === Image Block === */
.wp-block-image figcaption {
  margin: 0;
  padding: 5px;
  font-size: 14px;
  font-style: normal;
  font-style: italic;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}
.entry-content .wp-block-image.alignleft,
.entry-content .wp-block-image.alignright,
.entry-content .wp-block-image {
  margin-bottom: 0;
}
.wp-block-image .alignleft {
  margin-right: 20px;
}
.wp-block-image .alignright {
  margin-left: 20px;
}
/** === List Block === */
.wp-block-video video {
  max-width: 100%;
}
.wp-block-audio.aligncenter {
  text-align: center;
}
.wp-block-audio figcaption {
  margin-top: 8px;
  margin-bottom: 0;
}
/** === Media Text Block === */
/** === Drop Cap and Subhead Block === */
p.wp-block-subhead {
  font-style: normal;
  opacity: 1;
  line-height: 1.35;
}
p.has-drop-cap:not(:focus)::first-letter {
  font-size: 125px;
  margin: 0.085em 0.085em 0 0;
}
/** === Preformatted Block, Verse Block === */
.wp-block-preformatted {
  white-space: nowrap;
  overflow: auto;
}
/** === Pullquote Block === */
.wp-block-pullquote {
  padding: 30px 50px;
  border-bottom: 2px solid;
  border-top: 2px solid;
}
.wp-block-pullquote.is-style-solid-color blockquote {
  margin-left: initial;
  margin-right: initial;
  text-align: center;
  max-width: 100%;
}
.wp-block-pullquote p,
.wp-block-pullquote.is-style-solid-color blockquote p {
  font-size: 22px;
  line-height: 36px;
}
.wp-block-pullquote.alignleft p,
.wp-block-pullquote.alignright p {
  font-size: 18px;
  line-height: 30px;
}
.wp-block-pullquote.is-style-solid-color.alignleft blockquote {
  text-align: left;
}
.wp-block-pullquote blockquote {
  margin: 0;
}
.wp-block-pullquote blockquote:before {
  display: none;
}
.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
  padding: 30px 35px 35px;
  margin-top: 8px;
}
.wp-block-audio.aligncenter,
.wp-block-pullquote.aligncenter {
  text-align: center;
}
.wp-block-pullquote.aligncenter:before {
  left: 50%;
  margin-left: -11px;
}
.wp-block-pullquote.aligncenter {
  padding: 40px 80px 40px;
}
.wp-block-pullquote.alignleft {
  text-align: left;
  margin-right: 30px;
  margin-bottom: 10px;
}
.wp-block-pullquote.alignright {
  text-align: left;
  margin-left: 30px;
  margin-bottom: 10px;
}
.wp-block-pullquote.alignleft cite,
.wp-block-pullquote.alignright cite {
  font-size: 75%;
}
.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
  max-width: 280px;
}
.wp-block-pullquote.alignright:before {
  left: auto;
  right: -35px;
}
blockquote.alignright:after {
  margin-left: auto;
}
.wp-block-quote cite,
.wp-block-pullquote cite {
  font-size: 80%;
  font-style: normal;
}
/** === Blockquote Block === */
/* Blockquote */
blockquote:before,
q:before {
  content: "\f10e";
  font-family: "FontAwesome";
  font-size: 24px;
  position: absolute;
  top: -2px;
  left: -35px;
  line-height: 41px;
  z-index: 0;
  color: #666;
}
blockquote p + cite {
  display: block;
  opacity: 0.5;
}
.wp-block-quote p {
  margin-bottom: 15px;
}
.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer,
.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer {
  text-align: left;
}
.wp-block-table.is-style-stripes {
  border: none;
}
.entry-content .wp-block-pullquote blockquote p {
  margin-bottom: 15px;
}
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
  margin-left: 37px;
  padding: 0;
}
.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
  font-style: normal;
}
.wp-block-quote:not(.is-large):not(.is-style-large) {
  border-left: 0;
  padding-left: 0;
}
/** === Separator Block === */
.wp-block-separator {
  max-width: 200px;
  border-bottom-width: 0;
}
.wp-block-separator.is-style-wide {
  max-width: 100%;
  border-bottom-width: 0;
}
.wp-block-separator {
  margin-top: 30px;
  clear: both;
}
/** === Table Block === */
table {
  width: 100%;
}
.wp-block-table.is-style-stripes {
  border-bottom: none;
  border-left: none;
  border-top: 0;
}
td {
  padding: 10px 15px;
}
.wp-block-tag-cloud a,
.entry-content .wp-block-tag-cloud a {
  font-size: 16px !important;
}
.wp-block-tag-cloud a:before {
  content: "#";
}
.wp-block-search .wp-block-search__button {
  margin-left: 10px;
  margin-top: 0;
}
.wp-block-search input[type=search] {
  padding: 5px;
  height: 35px;
  border-width: 1px;
}
.wp-block-calendar table th {
  background: transparent;
}
.wp-block-calendar tfoot a {
  color: inherit;
  text-decoration: none;
}
.wp-block-calendar #prev {
  text-align: left;
}
.wp-block-calendar #next {
  text-align: right;
}
.wp-block-calendar table th,
.wp-block-calendar tbody td,
.wp-block-calendar th {
  text-align: center;
}
.wp-block-calendar table {
  border: none;
  border-collapse: collapse;
}
#wp-calendar thead th {
  padding: 10px;
  font-size: 14px;
}
.entry-content .wp-block-rss li,
.wp-block-rss li {
  list-style: none;
  margin-bottom: 24px;
}
ul.wp-block-rss {
  list-style: none;
  padding: 0;
  margin-left: 0;
}
.wp-block-rss__item:before {
  display: none;
}
.wp-block-rss__item-title a {
  text-decoration: none;
}
.wp-block-column,
.wp-block-separator,
.wp-block-embed,
.wp-block-image,
.wp-block-pullquote,
.entry-content .wp-block-quote,
.wp-block-media-text,
.wp-block-table,
.wp-block-categories,
.alignnone,
.gallery.gallery-columns-1,
.wp-audio-shortcode,
.wp-block-video,
.wp-block-audio,
.wp-block-search {
  margin-bottom: 30px;
}
body a {
  text-decoration: none;
}
.wp-block[data-align="left"] .wp-block-pullquote,
.wp-block[data-align="right"] .wp-block-pullquote,
.wp-block[data-align="left"] .wp-block-cover,
.wp-block[data-align="right"] .wp-block-cover {
  max-width: 280px;
  margin-top: 0;
  margin-bottom: 0;
}
.wp-block .block-library-list ul,
.wp-block .block-library-list ol {
  margin-left: 0;
  padding-left: 30px;
  margin-bottom: 0;
}
.wp-block .block-library-list ul li {
  margin-bottom: 0;
}
.wp-block table.wp-block-table {
  border-collapse: collapse;
}
.wp-block .wp-block-table .wp-block-table__cell-content {
  padding: 0;
}
.wp-block-quote.is-style-large .wp-block-quote__citation,
.wp-block-pullquote__citation,
.wp-block-quote__citation {
  font-size: 17.6px;
  opacity: 0.5;
}
.wp-block-pullquote .wp-block-pullquote__citation {
  text-transform: none;
}
.wp-block .wp-block-quote p,
.wp-block .wp-block-pullquote p,
.wp-block .wp-block-pullquote .editor-rich-text__tinymce p {
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 15px;
}
.wp-block-quote.is-style-large p {
  font-size: 24px;
  line-height: 38px;
}
.wp-block-pullquote blockquote {
  border: none;
}
.wp-block .wp-block-quote blockquote p,
.wp-block[data-align="left"] .wp-block-pullquote .editor-rich-text__tinymce p,
.wp-block[data-align="right"] .wp-block-pullquote .editor-rich-text__tinymce p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 15px;
}
.wp-block[data-align="left"] .wp-block-pullquote,
.wp-block[data-align="right"] .wp-block-pullquote {
  padding: 30px 35px 35px;
}
.wp-block[data-align="left"] .wp-block-pullquote blockquote,
.wp-block[data-align="right"] .wp-block-pullquote blockquote {
  text-align: left;
  padding: 0;
}
.wp-block[data-align="left"] .wp-block-pullquote blockquote .wp-block-pullquote__citation,
.wp-block[data-align="right"] .wp-block-pullquote blockquote .wp-block-pullquote__citation {
  font-size: 75%;
}
.wp-block-code,
.wp-block-code textarea,
pre.editor-rich-text__tinymce,
.wp-block-preformatted pre {
  font-family: "Monaco", "Consolas", "Andale Mono", "DejaVu Sans Mono", monospace;
  border: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-size: 16px;
}
.wp-block-preformatted pre {
  overflow-y: auto;
  white-space: nowrap;
}
.wp-block-separator {
  max-width: 200px;
  border-bottom-width: 1px;
}
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 200px;
}
.wp-block-separator.is-style-wide {
  max-width: 100%;
  border-bottom-width: 1px;
}
.editor-block-list__layout .editor-block-list__block[data-align="left"] .editor-block-list__block-edit,
.editor-block-list__layout .editor-block-list__block[data-align="right"] .editor-block-list__block-edit {
  margin-bottom: 10px;
}
.wp-block .wp-block-image {
  font-size: 0;
}
.wp-block-search__input {
  height: 34px;
}
.wp-block-search__button {
  padding: 1px 20px;
}
