.left{
	float: left;
}
.right{
	float: right;
}

#vce_post_colors .inside p{clear:both; margin:0 0 5px}
.admin_separator{float:left; width:100%; height:20px; clear:both}
.inside-colors{display:inline-block}


input.vce-radio{
	width: 16px;
	margin-left:0;
}

.vce-small-text{
	width: 30px;
}

.vce_colorpick{
	float: left;
	margin-right:3px;
	border: 1px solid #aaa;
	width: 20px;
	height: 20px; 
}

#vce-image-preview{
	width: 300px;
	border: 2px solid #ebebeb;
}

input.vce-hidden, .vce-hidden {display: none;}
img.vce-img-select { border: 2px solid #eee; cursor: pointer; border-radius: 4px; background: #fff;}
img.vce-img-select.selected {border: 2px solid #0074a2;}
ul.vce-img-select-wrap {float: left; width: 100%; display: block; margin: 5px 0;}
ul.vce-img-select-wrap li {float: left; margin-right: 1px;}

#vce_hp_fa, #vce_hp_modules, #vce_hp_content { display: none; }

/* Modules */
#TB_ajaxContent { padding: 0 0 30px 0; width: 100%!important; overflow: hidden; }
#vce-module-clone, .vce-module-form{
	display: none;
}
.vce-module-form {padding: 20px;}
.vce-hidden-module {display: none;}
.vce-hidden-module-cpt {display: none;}
.vce-module{
	width: 100%;
	background: #eaeaea;
	border: 1px solid rgba(0,0,0,0.1);
	height: 50px;
	padding: 15px;
	margin-bottom: 15px;
	box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;;
	border-radius: 2px;
}
.vce-modules .ui-sortable-helper { opacity: 0.5;}

.vce-module-type{
	background: rgba(0,0,0,0.05);
	margin-top: -16px;
	margin-left: -16px;
	min-width: 100px;
	height: 100%;
	padding: 16px;
	float: left;
	margin-right: 15px;
	border-right: 1px solid rgba(0,0,0,0.1);
}

.vce-opt-tabs{
	float: left;
	display: block;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	margin: 0 0 30px -16px;
	padding-left: 16px;
}

.vce-opt-tabs a{
	float: left;
	display: inline-block;
	margin: 0 0 -1px -1px;
	padding: 10px 20px;
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-decoration: none;
	background-color: #ebebeb;
}

.vce-opt-tabs a.active{
	background-color: #fff;
	border-bottom: 1px solid #fff;
}

.vce-opt-tabs a, .vce-opt-tabs a:hover, .vce-opt-tabs a:focus{
	outline: 0 !important;
	box-shadow: none !important;
}

.vce-tab {
	display: none;
}

.vce-tab.first{
	display: block;
}
.vce-tab ul.vce-img-select-wrap{
	margin-top: -10px;
}

.vce-opt-box {
	width: 48.5%;
    display: inline-block;
    vertical-align: top;
    background: #f5f5f5;
    min-height: 130px;
    padding: 20px 20px 30px 20px;
    margin: 6px 10px 0 0;
    box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    position: relative;
    border: 1px solid rgba(0,0,0,0.1);
    min-width: 300px;
}

.vce-opt-box .tagsdiv{
	margin-top: 0;
}


.vce-opt{
	width: 100%;
	display: block;
	float: left;
	clear: both;
	padding-bottom: 25px;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 25px;
}

.vce-opt:last-child{
	border-bottom: 0;
}

.vce-opt-title{
	font-weight: bold;
	width: 27%;
	padding-right: 3%;
	display: inline-block;
	float: left;
}

.vce-opt-inline {
	width: 100%;
    display: block;
    clear: both;
    margin-bottom: 30px;
    float: left;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    padding-bottom: 26px;
}
.vce-opt-inline:last-child{
	margin-bottom: 0;
	border-bottom: none;
	padding-bottom: 0;
}

.vce-opt-content{
	display: inline-block;
	float: left;
	width: 70%;
}

.vce-opt-content .tagsdiv .howto{
	margin: -10px 0 0 0 !important;
	font-size: 11px !important;
}

#side-sortables #vce_hp_fa .vce-opt-box{
	display: block;
	float: left;
	width: 100%;
	height: auto;
	margin: 10px 0;
	background: transparent;
	padding: 0;
}


#TB_ajaxContent{
	overflow-y: auto;
}
.vce-img-select-wrap li span{
	font-size: 11px;
	display: block;
	text-align: center;
	max-width: 60px;
	line-height: 13px;
}

.vce-item-scroll{
	overflow-y: auto;
	height: 130px;
	width: 240px; 
}

#vce_hp_fa .vce-item-scroll{
	height: 135px;
}

.vce-single-display-opt {
	float: right;
	margin: -2px 0 0 0;
}

/* Welcome panel */

.welcome-panel.vce-welcome-panel{
	margin: 33px 20px 0 0;
	padding-bottom: 30px;
}

.welcome-panel.vce-welcome-panel .welcome-panel-column,
.welcome-panel.vce-welcome-panel .welcome-panel-column:first-child{
	 max-width: 350px;
  	margin-right: 40px;
  	width: 25%;
}

.vce-welcome-panel  .welcome-panel-column.important h3 {
    color: #F44336;
}

.vce-welcome-panel  .welcome-panel-column.important h3 .dashicons{
    margin-top: 4px;
}
.vce-module-disabled {
	 opacity: .5;
}
.vce-remove-module {
	color: #a00;
}
.vce-remove-module:hover {
	color: red;
}

.vce-fields-placeholder {border: 1px dashed #aaa; height: 20px;}

.vce-module-drop {
	width: 100%;
	height: 50px;
	background: transparent;
	border: 1px dashed #aaa;
	margin-bottom: 15px;
	border-radius: 2px;
}

@media only screen and (max-width: 1330px){
	.vce-opt-box {
		width: 48%;
	}
}
@media only screen and (max-width: 1180px){
	.vce-opt-box {
		width: 100%;
	}
}


/* Responsive Module Editor */
@media screen and (max-width: 820px){
	.ui-dialog{
		max-width: 100%;
	}
}

@media screen and (max-width: 782px){
	.vce-opt-box{
		min-width: auto;
		padding: 10px;
	}
	.vce-opt-content {
		float: none;
		width: 100%;
	}
	.vce-opt-content label{
		display: block;
	}
	.vce-opt-title{
		width: 100%;
		margin-bottom: 10px;
	}
	.vce-opt-inline{
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
}
@media screen and (max-width: 500px){
	.vce-module-title{
		max-width: 110px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		float: left;
	}
	.vce-module-type{
		min-width: 30px;
		padding: 16px 10px;
		margin-right: 5px;
	}
	.vce-modules-bottom a.button-secondary{
		margin-bottom: 5px;
	}

}

@media screen and (max-width: 400px){
	ul.vce-img-select-wrap li{
		margin-right: 10px;
		width: 29%;
	}
	.vce-module-type{
		min-width: 20px;
		padding: 16px 5px;
		margin-right: 5px;
	}
	.vce-module .left{
		float: none;
	}
	.vce-module-title{
		max-width: 80px;
	}
	.vce-module .right{
		font-size: 10px;
	}
	.vce-module{
		padding: 15px 5px 15px 15px;
	}
	.vce-modules-bottom a.button-secondary{
		width: 100%;
	}
	ul.vce-img-select-wrap li{
		height: 120px;
	}
	img.vce-img-select{
		max-width: 100%;
	}
	.vce-opt-content .vce-img-select-wrap li{
		height: auto;
	}
	.vce-fit-height{
		padding: 5px 0;
	}
}
.actions a,
.actions a:focus{
	box-shadow: none;
	transition-property: none;
	transition: none;
}
.vce-module-form .vce-opt-tabs a.active,
.vce-module-form .vce-opt-tabs a.active:focus,
.vce-module-form .vce-opt-tabs a:active{
	background: none;
	transition: none;
}
/* Autocomplete - minor styling on posts list*/
.vce-live-search-items {
    margin: 0;
    position: relative;
    overflow: inherit;
}

.vce-live-search-items>span {
    float: none;
    display: block;
    font-size: 13px;
    margin: 0 0 0 19px;
    line-height: 1.4em;
}
.vce-live-search-items>span .vce-searched-title {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: move;
    position: relative;
    top: 2px;

}
.vce-live-search-items .ntdelbutton {
    margin: 0 0 0 -23px;
}

.wbc_importer .theme-browser .theme{
	margin-right: 24px;
}
/* Demo Importer button styling fix */
.redux-field.wbc_importer .theme-browser .theme .theme-actions, 
.redux-field.wbc_importer .theme-browser .theme.active .theme-actions {
  top: auto;
  bottom: 0;
  transform: none;
}


/* Gutenberg */

.gutenberg ul.vce-img-select-wrap li { max-width: 52px; margin-right: 5px; }
.gutenberg .vce-opt-box, .gutenberg .vce-modules {
	margin-top: 15px;
}
.block-editor-page ul.vce-img-select-wrap li{
    margin-right: 5px;
}
.block-editor-page #vce_sidebar ul.vce-img-select-wrap li{
    min-height: 82px;
}
.block-editor-page #vce_display select{
	height: 20px;
}
.block-editor-page .edit-post-meta-boxes-area #vce_hp_fa.postbox > .inside{
    display: flex;
    justify-content: space-between;   
}
.block-editor-page .edit-post-meta-boxes-area #vce_hp_fa.postbox > .inside,
.block-editor-page .edit-post-meta-boxes-area #vce_hp_modules.postbox > .inside{
    padding: 10px 0 14px;
}
.js.block-editor-page .edit-post-meta-boxes-area .closed .inside{
    display: none !important;
}
.block-editor-page .edit-post-meta-boxes-area #vce_hp_fa.postbox .vce-opt-box{
    margin: 6px 0 0 0;
    width: 49.5%;   
}
.block-editor-page .vce-opt-content label,
.block-editor-page .vce-opt-inline .vce-opt-content .howto{
    display: inline-block;
    vertical-align: middle;
    max-width: 430px;
}